<%= form_for(@tag) do |f| %>

  <% if @tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
      <% @tag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <% if !@tag.new_record? %>
      <!--<h4 style="text-align:left"><ul>Tag <%#= @tag.tag %>:</ul></h4>-->
      <h4 style="text-align:left"><span>Tag <%= @tag.tag %>:</span></h4>
        <br>
    <% end %>

    <div class="field">
    <label><%= f.label :category %></label>
        <%= collection_select(:tag, :category, Categories::Category, :first, :last) %>
  </div>

  <div class="field">
      <% if @tag.new_record? %>
        <%= f.label :tag %>
        <%= f.text_field :tag %>
      <% end %>
  </div>
  <div class="field">
    <%= f.label :label %>
    <%= f.text_field :label %>
  </div>
    <div class="field">
        <%= f.label :description %>
        <%= f.text_area :description %>
    </div><br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
