<h3>Editing tag</h3>
<% $tag = @tag.tag %>
<p class="notice"><%= notice %></p>
<%= render 'form' %>
<div class="span8">
    <% if @tag.solr_mappings.any? %>
        <h3><strong>Solr Mappings </strong>(<%= @tag.solr_mappings.count %>)</h3>
        <ol class="solr_mappings">
            <%= render @solr_mappings %>
        </ol>
        <%= will_paginate @solr_mappings %>
    <% end %>
    <a href="/solr_mappings/new_from_tag/<%=@tag.id %>">New Solr Mapping</a>             <!--# /new works.  edit_from_tag...  FTR-->

    <br>
</div>
<br>
<br>
<%= link_to 'View', @tag %> |
<%= link_to 'Back',  tag_path %>
