<%= form_for(@solr_mapping) do |f| %>
  <% if @solr_mapping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@solr_mapping.errors.count, "error") %> prohibited this solr_mapping from being saved:</h2>

      <ul>
      <% @solr_mapping.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br>
    <hr>
    <br>
    <div style="margin-left:100px" >
      <div class="field">
        <%= label_tag(:q, "Index Category:") %>
        <%#= f.label :solrfield %>
        <%#= f.text_field :solrfield %>
        <%= select(:solr_mapping, :solrfield, [
                  ['Unclassified', 'unclassified_t'],
                  ['Letter Form', 'letter_form_t'],
                  ['Illustration','illustration_t'],
                  ['Codicological Color', 'codicological_color_t'],
                  ['Codicological Feature', 'codicological_feature_t'],
                  ['Decoration', 'decoration_t'],
                  ['Text Content', 'text_content_t'],
                  ['Other' , 'other_t']
        ]) %>


      </div>
      <div class="field">
        <%= f.label :solrvalue %>
        <%= f.text_field :solrvalue %>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
<% end %>
