<%= form_for(@solr_mapping) do |f| %>
  <% if @solr_mapping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@solr_mapping.errors.count, "error") %> prohibited this solr_mapping from being saved:</h2>

      <ul>
      <% @solr_mapping.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br>
    <hr>
    <br>
    <div style="margin-left:100px" >
      <div class="field">
        <%= f.label :solrfield %>
        <%= f.text_field :solrfield %>
      </div>
      <div class="field">
        <%= f.label :solrvalue %>
        <%= f.text_field :solrvalue %>
      </div>
        <div hidden>
            <%= f.label :tag_id %>
            <%= f.number_field :tag_id, :as => :hidden %>
        </div>

      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
<% end %>
