<%= form_for(@solr_mapping) do |f| %>
  <% if @solr_mapping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@solr_mapping.errors.count, "error") %> prohibited this solr_mapping from being saved:</h2>

      <ul>
      <% @solr_mapping.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br>
    <hr>
    <br>
    <div style="margin-left:100px" >
      <div class="field">
        <%= label_tag(:q, "Index Category:") %>
        <%= collection_select(:solr_mapping, :solrfield, Categories::Category, :first, :last) %>
      </div>
      <div class="field">
        <%= f.label :solrvalue %>
        <%= f.text_field :solrvalue %>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
<% end %>
