<li>
    <span class="content"><strong>Index Category:</strong> <%= solr_mapping.index_category %></span>
    <span class="content"><strong>Value: </strong><%= solr_mapping.solrvalue %></span>
  <span class="timestamp">
         - Posted <%= time_ago_in_words(solr_mapping.created_at) %> ago.
  </span>
   <!--<span class=""content"><a href="/tags/<%=solr_mapping.tag_id %>">Show</a></span>-->

    <span class="content editDestroy"><a class="editDestroy" href="/solr_mappings/edit_from_tag/<%=solr_mapping.id %>?tag=<%=solr_mapping.tag_id %>">Edit</a></span>
    <span class="content editDestroy"><%= link_to 'Delete', solr_mapping, method: :delete, data: { confirm: 'Are you sure?' } %></span>

</li>


