<p id="notice"><%= notice %></p>

<p>
  <strong>Solrfield:</strong>
  <%= @solr_mapping.solrfield %>
</p>

<p>
  <strong>Solrvalue:</strong>
  <%= @solr_mapping.solrvalue %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @solr_mapping.tag_id %>
</p>
<a href= "/tags/<%= @solr_mapping.tag_id %>/edit"> Back</a>

